/* basic styles reset */
html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* global styles */

:root {
  --typeface: "Inter Regular", -apple-system, "Segoe UI", "Open Sans",
    "Helvetica Neue", sans-serif;
  --color-primary: #5555ff;
  --color-primary-level-1: #212847;
  --color-primary-level-2: #2c326d;
  --color-primary-level-6: #e3e3ff;
  --color-positive: #53db53;
  --color-positive-level-1: #21402f;
  --color-positive-level-2: #2c6837;
  --color-positive-level-6: #e3ffe3;
  --color-caution: #ffc555;
  --color-caution-level-1: #2f312d;
  --color-caution-level-2: #524a34;
  --color-caution-level-6: #ffefcf;
  --color-negative: #ff5555;
  --color-negative-level-1: #38282f;
  --color-negative-level-2: #623237;
  --color-negative-level-6: #ffd4d4;
  --color-foreground: #ffffff;
  --color-foreground-level-1: #162029;
  --color-foreground-level-2: #29343d;
  --color-foreground-level-3: #333e47;
  --color-foreground-level-4: #5e6d7a;
  --color-foreground-level-5: #8594a1;
  --color-foreground-level-6: #d3dee8;
  --color-background: #0e171f;
}

/* styles */

body {
  max-width: 48rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  font-family: var(--typeface);
  background-color: var(--color-background);
  color: var(--color-primary);
  line-height: 1.3rem;
}

h1,
h2,
h3,
strong {
  font-weight: 600;
}

a {
  color: var(--color-primary-level-1);
}

a:hover {
  color: var(--color-primary-level-2);
}

a {
  color: var(--color-primary-level-6);
}

h1,
h2 {
  padding: 1rem 0;
}

p,
li {
  padding-bottom: 0.5rem;
}
